.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;   
    margin: 50px auto; 
}

.container p {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

.container h6 {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    line-height: 2; 
}

.container a {
    font-weight: 500;
    text-decoration: none;
    color: #930077;
}

.container svg {
    vertical-align: middle;
    fill: #930077;
    font-size: 24px;
}